<!-- load in locale content -->
{% include var.html %}

<!-- optional amount value - with default -->
{% if include.amount %}
  {% assign amount = include.amount %}
{% else %}
  {% assign all-offers = true %}
  {% assign amount = 100 %}
{% endif %}

<!-- sort value - with default -->
{% if include.sort %}
  {% assign offer-sort = include.sort %}
{% else %}
  {% assign offer-sort = "RELEVANCE" %}
{% endif %}

<div
  class="js-offers"
  {% if include.tag %}data-tag="{{include.tag}}"{% endif %}
  {% if include.ids %}data-ids="{{include.ids}}"{% endif %}
  {% if include.amount %}data-amount="{{amount}}"{% endif %}
  data-sort="{{offer-sort}}"
>
  {% if include.tag %}
    <div class="offer-sort">
      <div class="select-field max-w-xs">
        <select name="offer-sort" class="js-offers-sort select-field__menu">
          {% for item in locale.sort %}
            <option value="{{item.value}}"{% if offer-sort == item.value %} selected{% endif %}>{{item.title}}</option>
          {% endfor %}
        </select>
        <span class="select-field__decor" aria-hidden="true" role="presentation"><svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5"><path d="M0 0h9L4.5 5 0 0z"/></svg></span>
      </div>
    </div>
  {% endif %}
  <div class="js-offers-row row row--6-6 row--2xl-4-4-4 row--gutter-sm">
    <!-- create placeholder offer cards based on amount value -->
    {% for counter in (1..amount) %}
    <div class="col">
      <div class="offer-card is-loading">
        <div class="image bg-ratio bg-ratio--3-2"></div>
        <div class="content">
          <div class="location"></div>
          <div class="title"></div>
          <div class="bottom">
            <div class="left">
              <div class="price"></div>
            </div>
            <div class="right">
              <div class="saving"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>