.page-padding {
  @apply px-2 sm:px-3 md:px-4 lg:px-6 2xl:px-8;
}

.row {
  @apply flex flex-wrap items-start justify-center;
  &--center {
    @apply items-center;
  }

  > .col {
    @apply flex-grow-0 flex-shrink-0;
    flex-basis: 100%;
  }

  /********************************************************************* rows */

  /* equal row column widths & breakpoints */
  @mixin row-column-widths() {
    &6-6 > .col {
      @apply max-w-1/2;
      flex-basis: 50%;
    }
    &4-4-4 > .col {
      @apply max-w-1/3;
      flex-basis: 33.33%;
    }
    &3-3-3-3 > .col {
      @apply max-w-1/4;
      flex-basis: 25%;
    }
  }

  /* default breakpoint for all columns - saves in always writing breakpoint in classes */
  @screen lg {
    &-- {
      @include row-column-widths;
    }
  }

  /* constant columns (no breakpoint) */
  &--constant- {
    @include row-column-widths;
  }

  /* columns starting at other breakpoints */
  @mixin row-columns-breakpoint($size) {
    @screen $size {
      &--$(size)- {
        @include row-column-widths;
      }
    }
  }
  @include row-columns-breakpoint(sm);
  @include row-columns-breakpoint(md);
  @include row-columns-breakpoint(xl);
  @include row-columns-breakpoint(2xl);
  @include row-columns-breakpoint(3xl);

  /*******************************************************************gutters */

  @apply -mt-6 -ml-6 lg:-mt-8 lg:-ml-8;
  > .col {
    @apply pt-6 pl-6 lg:pt-8 lg:pl-8;
  }

  &--gutter-sm {
    @apply -mt-4 -ml-4 lg:-mt-6 lg:-ml-6;
    > .col {
      @apply pt-4 pl-4 lg:pt-6 lg:pl-6;
    }
  }

  &--gutter-lg {
    @apply -mt-8 -ml-8 lg:-mt-10 lg:-ml-10;
    > .col {
      @apply pt-8 pl-8 lg:pt-10 lg:pl-10;
    }
  }

  &--gutter-0 {
    @apply mt-0 ml-0;
    > .col {
      @apply pt-0 pl-0;
    }
  }

  /****************************************************************** columns */

  @mixin column-widths() {
    &1 {
      @apply max-w-1/12;
      flex-basis: 8.333333%;
    }
    &2 {
      @apply max-w-2/12;
      flex-basis: 16.666667%;
    }
    &3 {
      @apply max-w-3/12;
      flex-basis: 25%;
    }
    &4 {
      @apply max-w-4/12;
      flex-basis: 33.33%;
    }
    &5 {
      @apply max-w-5/12;
      flex-basis: 41.666667%;
    }
    &6 {
      @apply max-w-6/12;
      flex-basis: 50%;
    }
    &7 {
      @apply max-w-7/12;
      flex-basis: 58.333333%;
    }
    &8 {
      @apply max-w-8/12;
      flex-basis: 66.666667%;
    }
    &9 {
      @apply max-w-9/12;
      flex-basis: 75%;
    }
    &10 {
      @apply max-w-10/12;
      flex-basis: 83.333333%;
    }
    &11 {
      @apply max-w-11/12;
      flex-basis: 91.666667%;
    }
    &12 {
      @apply max-w-full;
      flex-basis: 100%;
    }
  }

  /* columns starting at other breakpoints */
  @mixin columns-breakpoint($size) {
    @screen $size {
      &--$(size)- {
        @include column-widths;
      }
    }
  }

  .col {
    /* default breakpoint for individual columns - saves in always writing breakpoint in classes */
    @screen lg {
      &-- {
        @include column-widths;
      }
    }
    /* columns starting at other breakpoints */
    @include columns-breakpoint(sm);
    @include columns-breakpoint(md);
    @include columns-breakpoint(xl);
    @include columns-breakpoint(2xl);
    @include columns-breakpoint(3xl);
  }
}
