<div
  class="flex items-center justify-center text-white bg-grey-700 bg-cover
    bg-no-repeat bg-center px-8 py-24 lg:px-16 lg:py-36"
  style="background-image: url('{{site.img}}/img.jpg')"
>
  <div class="max-w-screen-md text-center">
    <h2 class="font-serif font-bold text-4xl leading-normal">
      Brand Promotion
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt
      recusandae at, maxime, maiores nulla aut distinctio, aliquid doloremque
      veniam pariatur
    </p>
    <div class="h-4"></div>
    <a href="{{site.baseurl}}/brand" class="btn btn--partner">Find Out More</a>
  </div>
</div>
