.form {
  @apply relative z-0;
  position: relative;
  font-size: 16px;
  border-color: theme("colors.grey.100");
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
  & [class*="decor"] {
    line-height: 0;
  }
  & [class*="-field"] {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1;
    font-family: theme("fontFamily.sans");
    width: 100%;
    color: theme("colors.grey.600");
  }
  & ::-webkit-search-decoration {
    display: none;
  }
  & input::-webkit-input-placeholder,
  & textarea::-webkit-input-placeholder,
  & select::-webkit-input-placeholder {
    line-height: normal;
  }
  & input[type="search"] {
    -webkit-appearance: textfield;
  }
  /* wrap for all form fields */
  &__input {
    & + & {
      @apply mt-6;
    }
    &.has-error {
      @apply py-1 px-2 bg-red-50 text-grey-700;
      border-radius: 3px;
    }
  }

  /************************************************************** FORM FIELDS */

  & .input-field,
  & .select-field__menu {
    @apply bg-white py-3 px-2;
    border: 1px solid theme("colors.grey.200");
    border-radius: 3px;
    font-size: 17px;
    & + & {
      @apply mt-6;
    }
  }

  & .check-field__input {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
  }

  /*********************** CHECK FIELD COMPONENT Radio buttons and checkboxes */
  & .check-field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  & .check-field__decor {
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: theme("colors.grey.50");
    border: 1px solid theme("colors.grey.100");
    border-radius: 3px;
    position: relative;
    cursor: pointer;
  }
  & .check-field__decor:after {
    content: "";
    speak: none;
    display: block;
    opacity: 0;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 15%;
    background: theme("colors.grey.400");
    border-radius: 1px;
  }
  & .check-field__label {
    padding: 3px 0 0 10px;
    cursor: pointer;
  }
  & .check-field--radio .check-field__decor,
  & .check-field--radio .check-field__decor:after {
    border-radius: 50%;
  }
  & .check-field__input:checked ~ [class*="decor"]:after {
    opacity: 1;
  }
  & .check-field__input:focus ~ [class*="decor"] {
    outline: 1px dotted theme("colors.grey.700");
    outline: 5px auto -webkit-focus-ring-color;
  }
  & .check-field + .check-field {
    padding-top: 10px;
  }
  /**************** INPUT FIELD COMPONENT All input based form field elements */
  & .input-field[type="number"] {
    padding-right: 11px 15px 10px 15px / 2;
  }
  & .input-field--multiline {
    vertical-align: top;
    overflow: auto;
    resize: none;
    line-height: 1.6;
  }
  & .input-field--multiline:not([rows]) {
    min-height: 200px;
  }
  & .input-field--date {
    line-height: 1.6;
  }
  /************************************** LABEL COMPONENT A simple form label */
  & .label {
    display: block;
    font-family: theme("fontFamily.sans");
    font-weight: 600;
    font-size: 0.88rem;
    width: 100%;
    color: theme("colors.grey.500");
  }
  & .label[for] {
    cursor: pointer;
  }
  & .label + [class*="field"] {
    @apply mt-1;
  }
  & p.label {
    display: inline-block;
    &:after {
      display: none;
    }
  }

  /***************** SELECT FIELD Option driven fields such as <select> menus */
  & .select-field {
    display: inline-block;
    position: relative;
    & option:disabled {
      color: theme("colors.grey.100");
    }
  }
  & .select-field__menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    @apply pr-10;
    line-height: 1.4;
  }
  & .select-field__menu:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 theme("colors.grey.700");
  }
  & .select-field__menu::-ms-expand {
    display: none;
  }
  & .select-field__decor {
    @apply z-0 mr-4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9px;
    pointer-events: none;
    > svg path {
      fill: theme("colors.grey.500");
    }
  }

  .input-button {
    @apply p-4;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    background: theme("colors.white");
    border: 1px solid theme("colors.grey.200");
    border-radius: 3px;
    transition: all 0.15s ease;
    cursor: pointer;
    color: theme("colors.grey.500");
    &__wrap {
      display: flex;
      align-items: center;
    }
    &__wrap-input {
      line-height: 0;
    }
    &__wrap-text {
      line-height: 1.2;
      font-size: 17px;
    }
    &:hover,
    & input:focus,
    &.is-selected {
      background-color: theme("colors.grey.50");
      border-color: theme("colors.grey.400");
    }
    input {
      cursor: pointer;
      margin: 0;
      @apply mr-2;
    }
  }

  .input-buttons {
    margin: -3px;
    padding-top: 3px;
    > .input-button {
      margin: 3px;
    }
  }

  /************************************ BUTTON COMPONENT reset button element */
  & .btn {
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: theme("fontFamily.sans");
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  & .btn:disabled {
    opacity: 0.5;
  }

  /***************************************************************** MESSAGES */

  &__messages {
    @apply z-10;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: flex-start;
    justify-content: center;
    .form-message-is-visible &,
    .no-js & {
      display: flex;
      justify-content: center;
    }
  }
  &__content {
    .form-message-is-visible &,
    .no-js & {
      opacity: 0.15;
      filter: blur(3px);
    }
  }
  &--optional {
    font-style: italic;
    opacity: 0.5;
  }
}

/***************************************************************** VALIDATION */

.input {
  &__error-message {
    @apply text-sm font-bold pt-1 pb-1;
    color: theme("colors.red.300");
  }
}

.message {
  display: none;
  text-align: center;
  .no-js &--no-js {
    display: block;
    position: relative;
  }
  &.is-visible {
    display: block;
  }
}

/*************************************************************** LOADING ICON */

.loading-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  border: 2px solid rgba(#fff, 0.2);
  border-top-color: theme("colors.white");
  border-radius: 50%;
  animation: loading-icon-spin 1s linear infinite;
}
@keyframes loading-icon-spin {
  to {
    transform: rotate(360deg);
  }
}
