{% assign this = include.data %}
<p class="label">{{this.label | liquify}}{% unless this.required %}<span class="form--optional"> -&nbsp;{{locale.form.optional}}</span>{% endunless %}</p>
<div class="input-buttons">
  {% for option in this.options %}<label for="{{form.id}}-{{option.id}}" class="input-button js-input-button">
    <div class="input-button__wrap">
      <div class="input-button__wrap-input">
        <input type="radio" id="{{form.id}}-{{option.id}}" name="{{this.id}}" value="{{option.value}}"{% if option.invalid %} class="js-form-invalid-answer"{% endif %}{% if this.required %} data-required{% endif %}>
      </div>
      <div class="input-button__wrap-text">
        {{option.label}}
      </div>
    </div>
  </label>{% endfor %}
</div>