{% assign this = include.data %}
<label for="{{form.id}}-{{this.id}}" class="label">{{this.label}}{% unless this.required %}<span class="form--optional"> -&nbsp;{{locale.form.optional}}</span>{% endunless %}</label>
<div class="select-field">
  <select id="{{form.id}}-{{this.id}}" name="{{this.id}}" class="select-field__menu"{% if this.required %} data-required{% endif %}>
    <option disabled selected value>{{locale.form.select}}</option>
    {% for option in this.options %}
      <option value="{{option.value}}">{{option.label}}</option>
    {% endfor %}
  </select>
  <span class="select-field__decor" aria-hidden="true" role="presentation"><svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5"><path d="M0 0h9L4.5 5 0 0z"/></svg></span>
</div>